[submodule "lib/toolbox3d"]
	path = lib/toolbox3d
	url = git@github.com:ShuntaroAoki/toolbox3d.git
[submodule "feature-decoding"]
	path = feature-decoding/scripts
	url = git@github.com:KamitaniLab/feature-decoding.git
[submodule "lib/diffusion-point-cloud"]
	path = lib/diffusion-point-cloud
	url = git@github.com:KamitaniLab/diffusion-point-cloud.git
[submodule "lib/AtlasNet"]
	path = lib/AtlasNet
	url = git@github.com:KamitaniLab/AtlasNet.git
